<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--控制层配置项-->
    <!--控制层调试模式,true情况下，可以显示调试日志-->
    <add key ="CtlDebugMode" value="false"/>
    <add key ="CtlSimMode" value="false"/>
    <!--主控plc TCP连接的IP地址-->
    <add key="plcIP" value="192.168.2.21"/>
    <!--机械手1plc TCP连接的IP地址-->
    <add key="plcIP1" value="192.168.2.21"/>

    <!--机械手2plc TCP连接的IP地址-->
    <add key="plcIP2" value="192.168.2.22"/>

    <!--机械手3plc TCP连接的IP地址-->
    <add key="plcIP3" value="192.168.2.23"/>
    <!--plc TCP连接的端口号-->
    <add key ="plcPort" value ="7000"/>
    <!--A1库小车的COM口-->
    <add key="stackerPlcCom" value="COM14"/>
    <!--B1库小车的COM口-->
    <add key="stackerPlcCom2" value="COM13"/>
    <add key ="RFIDComPortNum" value ="3"/>

    <!--读写器的COM口-->
    <add key ="RfidComAlloc" value ="COM7,COM8,COM9"/>
    <add key ="RfidCom1LoadDevs" value ="1,2,3"/>
    <add key ="RfidCom2LoadDevs" value ="4,5,6"/>
    <add key ="RfidCom3LoadDevs" value ="7,8"/>
    <!--<add key ="RfidCom4LoadDevs" value ="4"/>
    <add key ="RfidCom5LoadDevs" value ="5"/>
    <add key ="RfidCom6LoadDevs" value ="6"/>
    <add key ="RfidCom7LoadDevs" value ="7"/>
    <add key ="RfidCom8LoadDevs" value ="8"/>-->

    <!--控制任务执行超时上限，单位：分钟-->
    <add key="taskTimeOut" value ="20"/>

    <!--FX PLC通信断开再重新打开的时间间隔，单位：分钟,最小0.1，最大10.0-->
    <add key="FxCommResumeInterval" value ="1.0"/>

    <!--与FX plc接收间隔，单位ms，最大10ms-->
    <add key="FXRecvInterval" value="1"/>

    <!--FX plc通信协议里的报文等待时间,asccii码表达，注意：16进制输入，48对应0,51对应30ms，最小48，最大57-->
    <add key="FXDatagrmWaitTime" value="51"/>

    <!--与FX plc通信频率,单位:ms-->
    <add key="FXPlcScanInterval" value="1000"/>

    <!--管理层配置项-->

    <!--基信数据库连接-->
    <add key ="JXDataBase" value ="Data Source= 192.168.2.97;"/>
    <add key="JXDataBaseUserPwd" value="9x+Y8oaee3/dW5uQSDAyyCQtuQElhpl46iVu3PP1kbKA4EGrbLXil4JY4lR7mMDa+cybrZZ+CpB+9Z7p1eFgcg=="/>

    <!--杭可数据库连接-->
    <add key ="GXDataBase" value="Data Source =192.168.18.51;Persist Security info = True;Initial Catalog=GXDB;User ID=sa;Password=gx_2014_hzkk;"/>
  </appSettings>
</configuration>